﻿.night {
    background-color: #242f3e;
}

.axis-label {
    font: normal 13px sans-serif;
    fill: #3d3d3d;
}

.night .axis-label {
    fill: #b2b2b2;
}

.tooltip-label {
    fill: #fff;
}
.night .tooltip-label {
    fill: #242f3e;
}


.range-selector .layer {
    position: absolute;
    height: 100%;
}

.range-selector .border {
    background-color: #808080;
    opacity: 0.25;
    width: 7px;
}

.range-selector .layer.dark {
    background-color: #000;
    opacity: 0.25;
}

.range-selector .line {
    height: 3px;
    width: 100%;
}

    .range-selector .line.bottom {
        bottom: 0;
    }

.lines-list-sector {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.night {
    background-color: #242f3e;
}

.disabled .tick-mark {
    display: none;
}

.line-title {
    font: normal 17px sans-serif;
    color: black;
}

.night .line-title {
    color: white;
}

.line-select-item {
    cursor: pointer;
    margin: 5px 10px;
    text-align: center;
    border: 1px solid #808080;
    border-radius: 15px;
    padding: 5px;
    display: flex;
}

.data-tooltip {
    background-color: white;
    padding: 5px;
    border: 1px solid #808080;
    border-radius: 8px;
    color: black;
    opacity: 0.8;
}

    .data-tooltip .date {
        font-size:17px;
        font-weight:bold;
    }

.night .data-tooltip {
    background-color: #253241;
    color: white;
}

.line-data {
    padding: 5px;
    display: inline-block;
}

.line-data .number {
    font-size: 20px;
    font-weight: bold;
}